body{
    backgroung-color:#3bb673;
    text-align: center;
}

h1{
    font-size: 30px;
    color:black
}

p{
    color:black;
    font-size: 25px;
}




 #imagem1{
    width:100%;
 }
 
 .itens{
    font-style:italic;

 }

 .beneficios{
    background-color:white;
    text-align: left;
 }