body{

    text-align: center;
}
.principal{
    background-color:#3bb673;
    padding: 30px;
}


h1{
    font-size: 30px;
    color:black
}

p{
    color:black;
    font-size: 25px;
}




 #imagem1{
    width:100%;
 }
 
 .itens{
    font-style:italic;

 }

 .beneficios{
    background-color:white;
    text-align: left;
font-size: 25px;
padding: 20px;
 }

 ul{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: circle;
    width: 20%;
    margin-right: 15%;

}
